.react-search {
  margin: 0;
  padding: 1em;
  font-size: 150%;
  font-weight: 200;
  line-height: 1.5;
}

.react-search__input {
  color: #666;
  padding: 1em;
}

.react-search__menu {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.5em;
}

.react-search__menu-items {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

.react-search__menu-item a:hover,
.react-search__menu-item a:visited {
  font-weight: bold;
}

.react-search__menu--open {
  visibility: visible;
  z-index: 2;
  background: #fff;
}

.react-search__menu--hidden {
  visibility: hidden;
}
