.App {
  text-align: center;
}

.App-logo {
  float: left;
  animation: infinite 20s linear;
  height: 58px;
}

.App-header {
  background-color:  #03A9F4;
  width: 100%;
  height: 65px;
  padding: 5px;
  padding-left: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
